<div class="app-content-header">
  <div class="container-fluid">
    <div class="col-sm-6">
      <h3 class="mb-0"><%= header %></h3>
    </div>
  </div>
</div>
<div class="app-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-info card-outline">
          <div class="card-header">
            <h3 class="card-title"><%= header %></h3>
            <%- partial('../layouts/partials/cardtools.ejs') %>
          </div>
          <% if (typeof form === 'undefined') form = '' %>
          <%- form %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
