<section class="content-header">
  <div class="container-fluid">
    <div class="col-sm-6">
      <h1><%= header %></h1>
    </div>
  </div>
</section>
<secion class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title"><%= header %></h3>
            <%- partial('../layouts/partials/cardtools.ejs') %>
          </div>
          <% if (typeof form === 'undefined') form = '' %>
          <%- form %>
        </div>
      </div>
    </div>
  </div>
</section>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
