<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Dashboard</h1>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <% // Overview boxes %>
    <div class="row">
      <div class="col-12">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title">System Overview</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body row">
            <div class="col-md-4">
              <div class="card card-outline card-info">
                <div class="card-header">
                  <h3 class="card-title">Server Information</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <strong>Server IP</strong>
                    </div>
                    <div class="col-md-6">
                      <%= webserver %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <strong>CPU Load</strong>
                    </div>
                    <div class="col-md-6">
                      <%= loadaverage %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <strong>Uptime</strong>
                    </div>
                    <div class="col-md-6">
                      <%= uptime %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-outline card-info">
                <div class="card-header">
                  <h3 class="card-title">Activity</h3>
                </div>
                <div class="card-body">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-outline card-info">
                <div class="card-header">
                  <h3 class="card-title">Disk Usage</h3>
                </div>
                <div class="card-body">
                  <div class="chart-responsive">
                    <input type="hidden" id="free" value="<%= free %>">
                    <input type="hidden" id="used" value="<%= used %>">
                    <canvas id="diskUsage" class="chartjs-render-monitor"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% // End System Overview %>
    <% // Task History %>
    <div class="row">
      <div class="col-12">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title">Task History</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
              </button>
            </div>
            <div class="row">
              <div class="col-12">
                <a href="#" class="taskDayFilters active" length="1">30 Days</a>
                &nbsp;&nbsp;
                <a href="#" class="taskDayFilters" length="2">60 Days</a>
                &nbsp;&nbsp;
                <a href="#" class="taskDayFilters" length="3">90 Days</a>
                &nbsp;&nbsp;
                <a href="#" class="taskDayFilters" length="6">6 Months</a>
                &nbsp;&nbsp;
                <a href="#" class="taskDayFilters" length="-1">1 Year</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-responsive">
              <canvas id="taskHistory" class="chartjs-render-monitor"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% // End Task History %>
    <% // Bandwidth %>
    <div class="row">
      <div class="col-12">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title">Bandwidth</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-responsive">
              <canvas id="bandwidth" class="chartjs-render-monitor"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% // End Bandwidth %>
  </div>
</section>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
