<div class="app-content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3 class="mb-0">Dashboard</h3>
      </div>
    </div>
  </div>
</div>
<div class="app-content">
  <div class="container-fluid">
    <% // Alerts %>
    <div class="row">
      <div class="col-12">
        <div class="card card-outline card-<%= pendingHosts ? 'warning' : 'success' %>">
          <div class="card-header">
            <h3 class="card-title">Alerts</h3>
            <%- partial('../layouts/partials/cardtools.ejs') %>
          </div>
          <div class="card-body">
            <% if (pendingHosts) { %>
            <a href="/hosts" class="d-inline-flex align-items-center text-decoration-none">
              <span class="badge bg-warning text-dark me-2"><%= pendingHosts %></span>
              <%= pendingHosts === 1 ? 'host is' : 'hosts are' %> pending approval
            </a>
            <% } else { %>
            <span class="text-success"><i class="fa fa-check-circle"></i> No pending hosts.</span>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <% // End Alerts %>
    <% // Overview boxes %>
    <div class="row">
      <div class="col-12">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title">System Overview</h3>
            <%- partial('../layouts/partials/cardtools.ejs') %>
          </div>
          <div class="card-body row">
            <div class="col-md-4">
              <div class="card card-outline card-info">
                <div class="card-header">
                  <h3 class="card-title">Server Information</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <strong>Server IP</strong>
                    </div>
                    <div class="col-md-6">
                      <%= webserver %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <strong>CPU Load</strong>
                    </div>
                    <div class="col-md-6">
                      <%= loadaverage %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <strong>Uptime</strong>
                    </div>
                    <div class="col-md-6">
                      <%= uptime %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-outline card-info">
                <div class="card-header">
                  <h3 class="card-title">Activity</h3>
                </div>
                <div class="card-body">
                  <div class="chart-responsive">
                    <input type="hidden" id="avail" value="<%= avail %>">
                    <input type="hidden" id="staged" value="<%= staged %>">
                    <input type="hidden" id="active" value="<%= active %>">
                    <canvas id="activityUsage" class="chartjs-render-monitor"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-outline card-info">
                <div class="card-header">
                  <h3 class="card-title">Disk Usage</h3>
                </div>
                <a href="/hwinfo">
                  <div class="card-body">
                    <div class="chart-responsive">
                      <input type="hidden" id="free" value="<%= free %>">
                      <input type="hidden" id="used" value="<%= used %>">
                      <canvas id="diskUsage" class="chartjs-render-monitor"></canvas>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% // End System Overview %>
    <% // Task History %>
    <div class="row">
      <div class="col-12">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title">Task History</h3>
            <%- partial('../layouts/partials/cardtools.ejs') %>
            <div class="row">
              <div class="col-12">
                <a href="#" class="taskDayFilters active" length="1">30 Days</a>
                &nbsp;&nbsp;
                <a href="#" class="taskDayFilters" length="2">60 Days</a>
                &nbsp;&nbsp;
                <a href="#" class="taskDayFilters" length="3">90 Days</a>
                &nbsp;&nbsp;
                <a href="#" class="taskDayFilters" length="6">6 Months</a>
                &nbsp;&nbsp;
                <a href="#" class="taskDayFilters" length="-1">1 Year</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-responsive">
              <canvas id="taskHistory" class="chartjs-render-monitor"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% // End Task History %>
    <% // Bandwidth %>
    <div class="row">
      <div class="col-12">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title">Bandwidth</h3>
            <%- partial('../layouts/partials/cardtools.ejs') %>
            <div class="row">
              <div class="col-12">
                <a href="#" class="bwTimeFilters active" seconds="120">2 Minutes</a>
                &nbsp;&nbsp;
                <a href="#" class="bwTimeFilters" seconds="300">5 Minutes</a>
                &nbsp;&nbsp;
                <a href="#" class="bwTimeFilters" seconds="600">10 Minutes</a>
                &nbsp;&nbsp;
                <a href="#" class="bwTimeFilters" seconds="1800">30 Minutes</a>
                &nbsp;&nbsp;
                <a href="#" class="bwTimeFilters" seconds="3600">1 Hour</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-responsive">
              <canvas id="bandwidth" class="chartjs-render-monitor"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% // End Bandwidth %>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
