<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><%= header %></h1>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"><%= header %></h3>
            <%- partial('../layouts/partials/cardtools.ejs') %>
          </div>
          <div class="card-body">
            <div class="container">
              <table id="listtable" class="display table table-bordered table-striped listtable no-footer dtr-inline collapsed" role="grid">
                <thead>
                  <tr class="header" role="row">
                    <% for (var i = 0;i < theads.length;i++) { %>
                    <th><%= theads[i] %></th>
                    <% } %>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
            <!-- Place Holder -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
